<div>
    <div class="modal-header">
    </div>
    <div class="container">
        <div class="row">
            <span class="glyphicons glyphicon-error"></span>
        </div>
        <div class="row">
            <span class="titulo-modal">Erro</span>
        </div>
        <div class="row">
            <span class="texto-modal">Falha de conexão. Tente novamente.</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default botao-modal" ng-click="mCtrl.acaoOK()">
            <span class="texto-modal">OK</span>
        </button>
    </div>
</div>