<!--<splash-screen>
</splash-screen>-->
<div class="main">
    <!--<img class="logo" src="./app/assets/img/logo2.jpg" />-->
    <div style="height: 300px">
        <img src="" />
    </div>
    
    <center>
    <div ng-show="pCtrl.exibirOpcoesLogin">
        <div>
            <button class="login-email" ng-click="pCtrl.opcaoLoginSelecionada(0)">
                <div>
                    <span class="glyphicon glyphicon-envelope icone-botao" aria-hidden="true"></span>
                    <span>Entrar com o e-mail</span>
                </div>
            </button>
        </div>
        <div class="login-separador">
            <span class="texto-login" >ou</span>
        </div>
        <div>
            <button class="login-facebook" ng-click="pCtrl.opcaoLoginSelecionada(1)">
                <div >
                    <img src="./app/assets/img/facebook-6-32.png" class="fb-icon"/>
                    <span>Entrar com o facebook</span>
                </div>
            </button>
        </div>
        <div class="painel-mensagem-registro">
            <span class="texto-login">Não possui uma conta?</span>
            <br/>
        </div>
        <div class="painel-registro">
            <button ng-click="pCtrl.opcaoLoginSelecionada(2)">
                <span class="texto-login">Registre-se</span>
            </button>
        </div>
    </div>
    <div ng-show="pCtrl.loginEmailSelecionado">
        <label ng-model="pCtrl.mensagemErro" style="color: red"></label>
        <input type="text" placeholder="E-mail" ng-model="pCtrl.email" class="input"/>
        <input type="password" placeholder="Senha" ng-model="pCtrl.senha" class="input"/>
        <button ng-click="pCtrl.autenticar(0)" class="login-email">
            <span class="glyphicon glyphicon-log-in icone-botao" aria-hidden="true"></span>
            <span class="texto-login">Login</span>
        </button>
        <button ng-click="pCtrl.voltarInicio()" class="botao-voltar">
            <span class="texto-login">Voltar</span>
        </button>
    </div>
    <div ng-show="pCtrl.loginFacebookSelecionado">
        <label ng-model="pCtrl.mensagemErro" style="color: red"></label>
        <input type="text" placeholder="E-mail" ng-model="pCtrl.email" class="input"/>
        <input type="password" placeholder="Senha" ng-model="pCtrl.senha" class="input"/>
        <button ng-click="pCtrl.autenticar(1)" class="login-facebook">
            <span class="glyphicon glyphicon-log-in icone-botao" aria-hidden="true"></span>
            <span class="texto-login">Login</span>
        </button>
        <button ng-click="pCtrl.voltarInicio()" class="botao-voltar">
            <span class="texto-login">Voltar</span>
        </button>
    </div>
    <div ng-show="pCtrl.loginRegistroSelecionado">
        <button ng-click="pCtrl.voltarInicio()" class="botao-voltar">
            <span class="texto-login">Voltar</span>
        </button>
    </div>
    </center>
</div>